/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: inter;
    src: url(assets/fonts/inter/Inter-Regular.ttf);
}

*{
    font-family: inter;
}

body{
    margin: 0;
    padding: 0 10%;
}