
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: inter;
    src: url(assets/fonts/inter/Inter-Regular.ttf);
}

*{
    font-family: inter;
    background-color: #f8f8f8;
}

body, html{
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

