<div>
    <form action="" class="flex items-center gap-5">
        <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" #nameInput>
        </div>
        <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control" #amountInput>
        </div>
    </form>
    <br>
    <div class="flex gap-3">
        <button class="bg-green-600 btn btn-success" type="Submit" (click)="onAddItem()">Add</button>
        <button class="bg-red-500 btn btn-danger" type="button">Delete</button>
        <button class="bg-blue-500 btn btn-primary" type="button">Clear</button>
    </div>
</div>